{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Aktif Sınavlar" %}{% endblock %}

{% block content %}
<h2>{% trans "Tamamlanan Sınavlar" %}</h2>
    {% if sitting_list %}

		<table class="table table-bordered table-striped">

		  <thead>
			<tr>
			  <th>{% trans "Öğrenci Adı" %}</th>
			  <th>{% trans "Sınav" %}</th>
			  <th>{% trans "Durum" %}</th>
			  <th>{% trans "Puan" %}(%)</th>
			  <th></th>
			</tr>
		  </thead>

		  <tbody>
			<tr>
			  <form action="" method="GET">
				<td><input type="text" name="user_filter" /></td>
				<td><input type="text" name="quiz_filter" /></td>
				<td></td>
				<td></td>
				<td><button type="submit" class="btn btn-default">{% trans "Filter"%}</button></td>
			  </form>
			</tr>


        {% for sitting in sitting_list %}

			<tr>
			  <td>{{ sitting.user }}</td>
			  <td>{{ sitting.quiz }}</td>
			  <td>{{ sitting.end|date }}</td>
			  <td>{{ sitting.get_percent_correct }}</td>
			  <td>
				<a href="{% url 'quiz_marking_detail' pk=sitting.id %}">
				  {% trans "Sınava git" %}
				</a>
			</tr>

        {% endfor %}

		  </tbody>

		</table>
    {% else %}
        <p>{% trans "Eşleşen sınav bulunamadı.." %}.</p>
    {% endif %}
{% endblock %}
